name: Scheduled Fork Syncer
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  fork-syncer:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
    - run: |
        ./fork-syncer.sh
      env:
        GH_TOKEN: ${{ secrets.PAT }}
